mat-card{
  max-width: 80%;
  margin: 2em auto;
  text-align: center;
}

.coluna-flex {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

.loading-spinner {
  background-color: rgba(197, 106, 9, 0.628);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px;
}
